.custom-title {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}

.max-column-width {
  max-width: 900px;
}

.min-column-width {
  min-width: 600px;
}

.mt-custom {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.InitialPadding {
  padding-top: 100px;
}